<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="">
<!--   main layout  -->

<!--  head  -->
<head th:fragment="head_fragment">
    <th:block th:include="fragments/header :: head_fra"></th:block>
</head>

<!--  body  -->
<body th:fragment="body_fragment">
        <th:block th:include="fragments/nav_bar :: nav_fra"></th:block>

        <th:block th:include="fragments/footer :: foot_fra "></th:block>
</body>
</html>