<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- common footer -->

<div th:fragment="foot_fra">
    <footer>
        <div style="line-height: 200px; font-weight: bold">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @All content copyright JongMin-Lee &copy; 2019 • All rights reserved.
            <a href="https://github.com/JongMinLee0">
                <img src="images/git_im.png" width="20px" height="20px"/>
            </a>
        </div>
    </footer>
</div>
</body>
</html>