<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- common head -->
<head th:fragment="head_fra">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body{
            background-image: url("images/home.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        #empty_box{
            height:700px;
        }
        footer{
            height: 200px;
            background-color: #F5ECCE;
        }
    </style>
</head>
<body>

</body>
</html>