<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/main_layout}">
<th:block layout:fragment="head_fragment">
    <!--  bootstrap and body css  -->
    <th:block th:include="layout/fragments/header::head_fra"></th:block>
    <title>Bitly 홈페이지</title>
    <style>

    </style>
</th:block>
<!-- body layout -->
<th:block layout:fragment="body_fragment">
    <!-- navigation bar layout -->
    <div><th:block th:include="layout/fragments/nav_bar :: nav_fra"></th:block></div>
    <div id="empty_box">
        <div id="from_wrap" style = "width:450px; height: 300px; margin: auto;">
            <form class="form-inline" style="padding-top: 100px;">
                <div class="form-group">
                    <label for="input_url" class="sr-only">Url</label>
                    <input type="text" class="form-control" id="input_url" required placeholder="Enter url" style="width: 300px;
                                                                                        margin-left: 50px;">
                </div>
                <button type="submit" class="btn btn-warning">Convert</button>
            </form>
        </div>
    </div>

    <!--  footer layout  -->
    <div><th:block th:include="layout/fragments/footer :: foot_fra"></th:block></div>
</th:block>
</html>