<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/main_layout}">
<th:block layout:fragment="head_fragment">
    <!--  bootstrap and body css  -->
    <th:block th:include="layout/fragments/header::head_fra"></th:block>
    <title>회원가입 페이지</title>
    <style>

    </style>
</th:block>
<!-- body layout -->
<th:block layout:fragment="body_fragment">
    <!-- navigation bar layout -->
    <div><th:block th:include="layout/fragments/nav_bar :: nav_fra"></th:block></div>
    <div id="empty_box">
        <div style="margin: auto;">
            <div id="signupbox" style="margin-top:50px"
                 class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info" style="border: 1px solid #F5ECCE;">
                    <div class="panel-heading" style="background-color: #F5ECCE; border: 1px solid #F5ECCE;">
                        <div class="panel-title">Sign Up</div>
                    </div>
                    <div class="panel-body">
                        <form id="signupform" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstname" class="col-md-3 control-label">First Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="pwd" id="password" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-signup" type="button" class="btn btn-warning">
                                        Sign Up
                                    </button>
                                    <button id="back" type="button" class="btn btn-warning" onclick="location.href='/login'">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  footer layout  -->
    <div><th:block th:include="layout/fragments/footer :: foot_fra"></th:block></div>
</th:block>
</html>